/* Basic Styling */
body{
    background-image: url(space2.jpg);
}
h1{
    color:whitesmoke;
    background-color: #333;
    text-align: center;
}
img.titans{
  border-style: solid;
  border-color: white;
  border-width: thick;
}
/* Nav Bar example from  https://www.w3schools.com/css/css_navbar.asp */
h2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

